# https://direnv.net/


MODDABLE=~/projects/moddable
export MODDABLE

PATH_add $MODDABLE/build/bin/lin/release


IDF_PATH=~/esp32/esp-idf
export IDF_PATH

PATH_add $HOME/esp32/xtensa-esp32-elf/bin

UPLOAD_PORT=/dev/ttyUSB0
export UPLOAD_PORT
